<script type="text/javascript" src="/barber/static/assets/jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/jquery-migrate-3.0.0/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/barber/static/assets/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/jquery-treegrid/js/jquery.treegrid.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>

<script type="text/javascript" src="/barber/static/assets/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/jquery-validation-1.15.0/dist/additional-methods.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/jquery-validation-1.15.0/dist/localization/messages_zh.min.js"></script>
<script type="text/javascript" src="/barber/static/js/jquery.form.min.js"></script>


<script type="text/javascript" src="/barber/static/assets/adminlte-2.3.7/js/app.min.js"></script>
<script type="text/javascript" src="/barber/static/js/common.js"></script>

<!-- -->

<script type="text/javascript" src="/barber/static/assets/layer/layer.js"></script> 
