<title>Spring Boot Site</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/barber/static/css/tether.min.css" rel="stylesheet" />
<link href="/barber/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/barber/static/assets/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/barber/static/assets/font-awesome-4.7.0/css/font-awesome.min.css" />
<link href="/barber/static/css/swiper.css" rel="stylesheet" />

<script type="text/javascript" src="/barber/static/assets/jquery-3.2.1/jquery.min.js"></script>
<script  type="text/javascript" src="/barber/static/js/tether.min.js"></script>
<script type="text/javascript" src="/barber/static/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script> -->
<script  type="text/javascript" src="/barber/static/js/swiper.min.js"></script>